WebForms/Web References/WCFService/ServiceImplementation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52801/Services/ServiceImplementation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceHost.Models" />
  <xs:element name="ObterClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceHost.Models" minOccurs="0" name="ObterClientesResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceHost.Models" minOccurs="0" name="cliente" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clienteId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceHost.Models" minOccurs="0" name="clienteAtualizado" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clienteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClientePorCPF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClientePorCPFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceHost.Models" minOccurs="0" name="BuscarClientePorCPFResult" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>